*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: #ff7200;
    height: 55px;
}
.navbar .nav{
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
}
.navbar a{
    text-decoration: none;
    color: white;
    float: left;
}
.navbar .nav .logo{
    float: left;
    font-size: 20px;
}
.navbar .nav .link{
    float: right;
    padding-right: 20px;

}
.navbar .nav .link a{
    padding-right: 40px;

}
.content .content1{
    margin-top: 50px;
    margin-left: 50px;
    height: 400px;
    width: 500px;
    background-color: #e2dfdf;
}