*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../../picture/home/home.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    height: 75px;
    margin: auto;
}

.icon{
    float: left;
    margin-left: 50px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    float: right;
    margin-right: 100px;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.sideMenu{
    width: 300px;
    /* background-color: rgba(64, 36, 36, 0.572); */
    height: 350px;
    float: left;
    color: #fff;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 15px;
    position: relative;
}
.sideMenu a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 25px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    background-color: #ff7200;
}
.sideMenu a:hover{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 25px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    background-color: green;
}




::placeholder{
    color: #fff;
    font-family: Arial;
}

