body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7200;
    padding: 10px;
}

.logo a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    margin-right: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.nav-links a:hover {
    color: #333;
}

.profile-section {
    margin-top: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.user-details div {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.value {
    flex: 1;
}
