
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555;
	background: #d8d5d5;
}
.login-div {
    width: 680px;
    height: 650px;
    padding: 50px 35px 35px 35px;
    border-radius: 15px;
    background: #ecf0f3;
}

.title {
	text-align: center;
	font-size: 28px;
	padding-top: 20px;
	letter-spacing: 0px;
}
.sub-title {
    text-align: center;
    font-size: 17px;
    font-family: auto;
    padding-top: 7px;
    letter-spacing: 0px;
}
.error{
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: red;
}
.fields {
	width: 100%;
	padding: 10px 5px 5px 5px;
}
.fields input {
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	color: #555;
	padding: 18px 10px 18px 1px;
}

.namee {
	float: left;
	height: 50px;
	width: 100%;
	background-color: white;
	margin-bottom: 30px;
	border-radius: 5px;
	border: solid;
	border-color: #170385;
	border-width: 1px;
	
	}
.usernamee, .password {
	float: left;
	height: 50px;
	background-color: white;
	margin-bottom: 30px;
	border-radius: 5px;
	border: solid;
	border-color: #170385;
	border-width: 1px;
	
	}
.emaill, .confirmPassword {
	float: right;
	height: 50px;
	background-color: white;
	margin-bottom: 30px;
	border-radius: 5px;
	border: solid;
	border-color: #170385;
	border-width: 1px;
	
	}
.gender{
	float: left;
	height: 50px;
	width: 49%;
	background-color: white;
	margin-bottom: 30px;
	border-radius: 5px;
	border: solid;
	border-color: #170385;
	border-width: 1px;
	
	}
.dateOfBirth {
	float: right;
	height: 50px;
	width: 49%;
	background-color: white;
	margin-bottom: 30px;
	border-radius: 5px;
	border: solid;
	border-color: #170385;
	border-width: 1px;
	
	}


input[type="date"]
{
	padding-left:65px;
}


.namee ::placeholder,
.emaill ::placeholder,
.usernamee ::placeholder,
.password ::placeholder,
.confirmPassword {
    color: #999;
}
.fields svg {
	height: 22px;
	margin: 0 10px -3px 25px;
}
.emailSvg {
	height: 50px;
	margin: 0 10px -3px 25px;
}
.signin-button {
	outline: none;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 60px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-align: center;
	background: #170385;
	box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}
.signin-button:hover {
	background: #000;
}
.signin-button:active {
	background: #ff843c;
}
.link {
	padding: 20px;
	text-align: center;
}
.link a {
	text-decoration: none;
	color: #aaa;
	font-size: 15px;
}
